.__banner-right {
    background-color: $color-medium-gray;
    display: flex;
    justify-content: space-evenly;
    height: 400px;

    .__banner-right-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-dark;

        h1 {
            font-size: 45px;
            font-weight: 600;
            margin-bottom: 40px;
        }

        .__btn-theme {
            width: 188px;
            background-color: $color-white;
            color: $color-dark;

            &:hover {
                background-color: $color-theme;
                color: $color-white;
            }

            .__btn-theme-left {
                border-left: 1px solid $color-dark;
                border-top: 1px solid $color-dark;
            }

            &:hover .__btn-theme-left {
                border-left: 1px solid $color-white;
                border-top: 1px solid $color-white;
            }

            .__btn-theme-right {
                border-right: 1px solid $color-dark;
                border-bottom: 1px solid $color-dark;
            }

            &:hover .__btn-theme-right {
                border-right: 1px solid $color-white;
                border-bottom: 1px solid $color-white;
            }
        }
    }
}