.__banners {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 70px;

    .__banner-left {
        color: $color-white;
        padding: 30px 10px;
        background-color: $color-brown;

        .__banner-left-img {
            display: none;
        }

        .__banner-left-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            h1 {
                font-size: 20px;
            }
    
            .__btn-theme {
                width: 188px;
                background-color: $color-dark;
    
                &:hover {
                    background-color: $color-theme;
                }
            }
        }
    }

    .__banner-right {
        padding: 30px 10px;
        background-color: $color-medium-gray;

        .__banner-right-img {
            display: none;
        }

        .__banner-right-content {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
    
            h1 {
                font-size: 20px;
            }
    
            .__btn-theme {
                width: 188px;
                background-color: $color-white;
                color: $color-dark;
    
                &:hover {
                    background-color: $color-theme;
                    color: $color-white;
                }
    
                .__corner-left {
                    border-left: 1px solid $color-dark;
                    border-top: 1px solid $color-dark;
                }
    
                &:hover .__corner-left {
                    border-left: 1px solid $color-white;
                    border-top: 1px solid $color-white;
                }
    
                .__corner-right {
                    border-right: 1px solid $color-dark;
                    border-bottom: 1px solid $color-dark;
                }
    
                &:hover .__corner-right {
                    border-right: 1px solid $color-white;
                    border-bottom: 1px solid $color-white;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .__banners {
        grid-template-columns: 1fr 1fr;
        height: 265px;

        .__banner-left { 
            padding: 30px 0;   
            display: flex;
            justify-content: center;

            .__banner-left-content {
                text-align: center;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    font-weight: 700;
                    margin-bottom: 20px;
                    font-size: 45px;
                }
            }
        }

        .__banner-right {
            padding: 30px 0;
            display: flex;
            justify-content: center;

            .__banner-right-content {
                text-align: center;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    font-weight: 700;
                    margin-bottom: 30px;
                    font-size: 45px;
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .__banners {
        height: 400px;
        .__banner-left {
            padding: 0;
            justify-content: space-around;

            .__banner-left-img {
                display: block;
            }

            .__banner-left-content {
                text-align: left;
                align-items: flex-start;
            }
        }

        .__banner-right {
            padding: 0;
            justify-content: space-around;

            .__banner-right-img {
                display: block;
            }

            .__banner-right-content {
                text-align: left;
                align-items: flex-start;
            }
        }
    }
}