.__flashsale {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 0;
    margin-bottom: 65px;
    height: 665px;

    .__flashsale-box {
        background-color: $color-gray;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 45px;
            font-weight: 600;
            color: $color-white;
            margin-bottom: 35px;
        }

        .__btn-theme {
            background-color: $color-white;
            color: $color-dark;

            &:hover {
                background-color: $color-dark;
                color: $color-white;

                .__btn-theme-left {
                    border-left: 1px solid $color-white;
                    border-top: 1px solid $color-white;
                }

                .__btn-theme-right {
                    border-right: 1px solid $color-white;
                    border-bottom: 1px solid $color-white;
                }
            }

            .__btn-theme-left {
                border-left: 1px solid $color-dark;
                border-top: 1px solid $color-dark;
            }

            .__btn-theme-right {
                border-right: 1px solid $color-dark;
                border-bottom: 1px solid $color-dark;
            }
        }
    }

    .__flashsale-cards {
        width: 70%;
    }
}