.product {
    margin-bottom: 60px;

    .container {
        display: grid;
        gap: 20px;
        max-width: auto;

        .product-images {
            width: 100%;
            display: flex;
            justify-content: center;

            .main-image {
                width: 300px;
                height: 300px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .sub-image {
                display: none;
                width: 540px;

                img {
                    width: 160px;
                    height: 130px;
                }
            }
        }

        .product-content {
            display: flex;
            flex-direction: column;
            text-align: center;

            .product-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .product-title {
                    font-size: 24px;
                    font-weight: 700;
                }
    
                .product-rating {
                    color: $color-theme;
                }
    
                .product-price {
                    font-size: 18px;
                    font-weight: 600;
                }

                .product-info {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .product {
        .container {
            .product-images {
                display: grid;
                gap: 30px;

                .main-image {
                    width: 540px;
                    height: 440px;
                }

                .sub-image {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .product {
        .container {
            max-width: $max-width-small;
            grid-template-columns: 1fr 1fr;

            .product-content {
                text-align: start;

                .product-details {
                    .product-info {
                        display: inline;
                    }
                }
            }
        }
    }
}

