.related-products {
    margin-bottom: 80px;

    .container {
        padding: 0;

        .products-title {
            display: none;
            justify-content: space-between;
            margin-bottom: 10px;

            h1 {
                font-size: 20px;
                font-weight: 700;
            }

            .products-btn {
                width: 70px;
                display: none;
                justify-content: space-between;

                button {
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    background-color: $color-white;
                    border: 1px solid $color-shadow;
                }
            }
        }

        .products-container {
            display: none;
            justify-content: space-between;
        }
    }
}

@media (min-width: 1200px) {
    .related-products {
        .container {
            max-width: $max-width-small;

            .products-title {
                display: flex;

                .products-btn {
                    display: flex;
                }
            }

            .products-container {
                display: flex;
            }
        }
    }
}
