.__sale-grid {
    margin-bottom: 65px;
    margin-top: 60px;

    .container {
        max-width: $max-width-small;

        .__sale-grid-products {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $linear-gradient-light;
            padding-top: 20px;
            padding-bottom: 20px;
            position: relative;
            border-radius: 10px;
            margin-bottom: 35px;

            h1 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 40px;
            }

            .__sale-grid-cards {
                display: none;
                flex-direction: column;
            }

            .__sale-grid-btn {
                position: absolute;
                width: 100%;
                height: 40px;
                font-weight: 600;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                bottom: 0;
                border: none;
                background-color: $color-gray;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 768px) {
    .__sale-grid {
        .container {
            .__sale-grid-products {
                background-color: transparent;

                .__sale-grid-cards {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .__sale-grid {
        .container {
            .__sale-grid-products {
                .__sale-grid-cards {
                    max-width: 80%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .__sale-grid {
        .container {
            display: flex;
            justify-content: space-evenly;
    
            .__sale-grid-products {
                align-items: flex-start;
                background-color: transparent;
                margin-bottom: 0;

                h1 {
                    margin-bottom: 20px;
                }

                .__sale-grid-cards {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    max-width: 100%;
                }
            }
        }
    }
}