html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.fixed-footer {
    position: absolute;
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    border-top: 1px solid $linear-gradient-dark;
    background-color: $linear-gradient-light;
}

.fixxo-sale {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

    .fixxo-sale-title {
        color: $color-theme;
    }
}

a {
    color: $color-theme;
    text-decoration: none;
    
    &:hover {
        color: $color-theme;
        text-decoration: underline;
    }
}

.__active {
    color: $color-theme;
}

.__gradient-gray {
    background: $linear-gradient-dark;
    background: linear-gradient(90deg, $linear-gradient-dark 0%, $linear-gradient-light 100%);
}


@media (min-width: 1600px) {
    .container {
        max-width: $max-width;
    }
}

